<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
  <title>Displaying Your Times</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th> Miles </th>
        <th> Km </th>
        <th>Location</th>
        <th>Open</th>
        <th>Close</th>
        <th>Notes</th>
      </tr>
    </thead>
  <tbody>
    <!-- <h2> Start Date: {{startdate}} Starttime: {{starttime}} Brevit Distance: {{brevit_dist}} </h2> -->
    {% for item in items %}
    <tr>
      <!-- Dist (mi) -->
      <td>{{item.miles}}</td>
      <!-- Dist (km) -->
      <td> {{item.km}} </td>
      <!-- Location (optional) -->
      <td>{{item.loctionn}}</td>
      <!-- Open time read only, set by JavaScript function-->
      <td>{{item.open}}</td>
      <!-- Close time read only, set by JavaScript function -->
      <td> {{item.close}}</td>
    </tr>
    {% endfor %}
  </tbody>
</body>
</html>
